@model HomeVM



<div class="content">
    <h3>Welcome</h3>
    <br />

    <div class="left">
        <p>
            <strong>Welcome to SpelPortalen</strong><br />
            <br />
            <strong>2018-04-04</strong>
            All rejoice!! SpelPortalen is now out of beta and in production.
            <br />
            <strong>2018-04-02</strong>
            Try the new game Colour Memory!!
            <br />
            <strong>2018-04-01</strong>
            The official beta of SpelPortalen is released.
            <br />
            <strong>2018-04-01</strong>
            The MathGame is now online!!
            <br />
            <strong>2018-03-30</strong>
            Tic-Tac-Toe is now realesed!!
            <br />
            <strong>2018-03-30</strong>
            Now introducing our Chat!!
            <br />
            <strong>2018-03-29</strong>
            First Alpha of SpelPortalen is up!
            <br />

        </p>

    </div>

    <div class="right">
        <center>
            @*<img src="~/Images/granny.png" width="200px" />*@
            <img src="~/Images/prototype_log4_white_smaller.v1.png" />
        </center><br />
        <p>
            <strong>Recent Games:</strong><br />
        </p>
        <ul>
            @foreach (var item in Model.recentMatches)
            {
                @if (item.Player1 == item.Winner)
                {
                    <li>
                        <strong>@(item.Player1)</strong> played against <strong>@(item.Player2)</strong> in a game of @(item.Game).
                        @if (item.Draw)
                        {
                            <span>The game ended in a draw.</span>
                        }
                        else
                        {
                            <span>The winner was <strong>@(item.Winner)</strong>.</span>
                        }
                    </li>

                }
                else
                {
                    <li>
                        <strong>@(item.Player1)</strong> played against	<strong>@(item.Player2)</strong>
                        in a game of @(item.Game).

                        @if (item.Draw)
                        {
                            <span>The game ended in a draw.</span>
                        }
                        else
                        {
                            <span>The winner was <strong>@(item.Winner)</strong>.</span>
                        }
                    </li>

                }

            }
        </ul>
    </div>

    <div class="clear-fix"></div>
    @*<span> Welcome user: @Model.User </span>*@
    <br />
</div>